.center {
  display: flex;
  justify-content: center;
  padding-top: var(--space-12);
}

.title {
  font-size: var(--text-title-m);
}

.link {
  color: var(--color-accent);
  font-weight: var(--weight-bold);
}
